@import url(https://use.fontawesome.com/releases/v6.4.0/css/all.css);
body{
    
}
.site{
    background: url(../image/fitness-main.jpg);
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position:  center -9em;
    max-width: 1500px;
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


.site-footer{
    text-align: center;
    background-color: #d11918;
    margin-top: auto;
    padding: 0.5em;
}
.welcome{
    color: black;
    background-color: white;
    margin-top: 9em;
 
}
