html {
    font-family: Helvetica, sans-serif;

}

body {
    background-color: rgb(238, 238, 238);
    color: rgb(51, 51, 51);
    padding: 2em;
    margin: 1em;


}

header {
    padding-bottom: 0.5em;

}

h1,
h2,
h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: left;
}

article {
    display: inline-block;
    max-width: 40em;
    text-align: left;
}

article p {
    padding: 0.5em;
    text-align: left;
}

img {
    max-width: 25em;
}

aside {
    display: inline-block;
    position: absolute;
    max-width: 20em;
    min-width: 10em;

}