html{
    font-size: 16px;
    line-height: 1.5;
    font-family: Raleway, sans-serif;   
}
h2{
    font-family:Great Vibes, cursive;
    line-height: 1.2;
    font-weight: bold;
}

h1{
    font-family:Great Vibes, cursive;
    line-height: 1.2;
    font-weight: bold;
}