html {
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;

}

h1 {
    font-family: Georgia, serif;
}

h2 {
    font-family: Georgia, serif;
}

h3 {
    font-family: Georgia, serif;
}

h4 {
    font-family: Georgia, serif;
}

h5 {
    font-family: Georgia, serif;
}

h6 {
    font-family: Georgia, serif;
}

blockquote {
    line-height: 2;
    font-style: italic;
    border-left: 5px solid rgb(221, 221, 221);
    text-indent: 30px;
    font-weight: 600;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
}
blockquote #name{
    text-align: right;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table td,
table th {
    border: 1px solid #ddd;
    padding: 8px;
    border-color: #ccc
}

table th {
    background-color: #ccc;
    font-weight: bold;
}

table tr:nth-child(even) {
    background-color: #f3f0f0;
}