html {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    box-sizing: inherit;
    background-color: #EEE;
    padding: 5rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.site-header,
.site-main,
.site-aside,
.site-footer {
    padding: 2rem;
    display: flex;
    background-color: #FFF;
    border-radius: 0.4rem;
    color: #000;
    box-shadow: 2px 2px 5px 3px rgba(153, 153, 153, 0.3);
    justify-content: flex-start;
    
}

.site-header,
.site-footer {
    flex-basis: 100%;

}

.site-main {
    flex: 8 1 40rem;
}

.site-aside {
    flex: 2 1 20rem;
}