html{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
    line-height: 1.5;

}

section{
    padding: 4em;
    max-width: 70vw;
    display:  flex;
    justify-content: space-between;
    gap:4em;    

}
h2{
    font-family: Georgia, serif;
    line-height: 1.2;
}
p{
    text-align: justify;
}

